/* Fonts */

@font-face {
  font-family: 'Inclusive Sans';
  src: url('assets/fonts/InclusiveSans-Regular.woff2') format('woff2'),
    url('assets/fonts/InclusiveSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('assets/fonts/InclusiveSans-Bold.woff2') format('woff2'),
    url('assets/fonts/InclusiveSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Admin Dashboard */

body {
  font-family: Inclusive Sans, Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'nav header header header'
    'nav main main main';
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Nav */

nav {
  grid-area: nav;
  padding: 20px;
}

.nav-header {
  display: flex;
  gap: 10px;
}

.nav-header img {
  width: 50px;
}

nav ul {
  margin-top: 40px;
}

nav li {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

nav li img {
  padding-right: 10px;
}

/* Main Header */

.main-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-container {
  display: flex;
}

.search-container img {
  width: 30px;
}

.link-container ul {
  display: flex;
}

.link-container img {
  width: 50px;
}

.greeting-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greeting-container img {
  grid-row: span 2;
  width: 100px;
  border-radius: 50%;
}

.cta-container ul {
  display: flex;
}

/* Main */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.projects-container {
  grid-column: span 2;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-container h2 {
  grid-column: span 2;
}

.projects-container .card ul {
  display: flex;
}

.trending-container .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trending-container .card img {
  grid-row: span 2;
  width: 50px;
  border-radius: 50%;
}
